@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.unset{
    white-space: unset !important;
}

.no-wrap{
    white-space: nowrap !important;
}

.font-tabular-nums {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-variant-numeric: tabular-nums;
}

@media print{
    body{
        font-size: 11pt !important;
    }

    h2{
        font-size: 14pt !important;
    }

    div{
        font-size: 11pt !important;
    }
}