/*
* demo.css
* File include item demo only specific css only
******************************************************************************/

.menu .app-brand.demo {
  height: 64px;
  margin-top: 12px;
}

.app-brand-logo.demo svg {
  width: 22px;
  height: 38px;
}

.app-brand-text.demo {
  font-size: 1.30rem;
  letter-spacing: -0.5px;
}

.app-brand-text.demo i {
  font-size: 0.85rem;
}

/* ! For .layout-navbar-fixed added fix padding top to .layout-page */
/* Detached navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
  padding-top: 76px !important;
}
/* Default navbar */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 64px !important;
}
.docs-page .layout-navbar-fixed.layout-wrapper:not(.layout-without-menu) .layout-page,
.docs-page .layout-menu-fixed.layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 62px !important;
}

/* Navbar page z-index issue solution */
.content-wrapper .navbar {
  z-index: auto;
}

/*
* Content
******************************************************************************/

.demo-blocks > * {
  display: block !important;
}

.demo-inline-spacing > * {
  margin: 1rem 0.375rem 0 0 !important;
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing > * {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-lg > * {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-lg.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-xl > * {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-xl.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.rtl-only {
  display: none !important;
  text-align: left !important;
  direction: ltr !important;
}

[dir='rtl'] .rtl-only {
  display: block !important;
}

/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
}
.layout-demo-placeholder img {
  width: 900px;
}
.layout-demo-info {
  text-align: center;
  margin-top: 1rem;
}

.panel{
  padding: 0;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 0 2px rgba(0,0,0,0.05),0 0 0 5px rgba(0,0,0,0.05);
}
.panel .panel-heading{
  padding: 20px 15px;
  border-radius: 10px 10px 0 0;
  margin: 0;
}
.panel .panel-heading .title{
  color: var(--bs-black);
  font-size: 28px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 40px;
  margin: 0;
}
.panel .panel-heading .btn{
  color: var(--bs-black);
  background: transparent;
  font-size: 16px;
  text-transform: capitalize;
  border: 1px solid var(--bs-black);
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}
.panel .panel-heading .btn:hover{
  color: var(--bs-primary);
  text-shadow: 3px 3px rgba(255,255,255,0.2);
}
.panel .panel-heading .form-control{
  color: var(--bs-black);
  background-color: transparent;
  width: 35%;
  height: 40px;
  border: 1px solid var(--bs-black);
  border-radius: 10px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.panel .panel-heading .form-select{
  color: var(--bs-black);
  background-color: transparent;
  width: 35%;
  height: 40px;
  border: 1px solid var(--bs-black);
  border-radius: 10px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.panel .panel-heading .form-control:focus{
  background-color: rgba(255,255,255,0.2);
  box-shadow: none;
  outline: none;
}
.panel .panel-heading .form-control::placeholder{
  color: var(--bs-black);
  font-size: 15px;
  font-weight: 500;
}
.panel .panel-body{ padding: 0; }
.panel .panel-body .table thead tr th{
  color: var(--bs-black);
  background-color: rgba(122, 122, 122, 0.4);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px;
  border: none;
}
.panel .panel-body .table tbody tr td{
  color: var(--bs-black);
  font-size: 14px;
  padding: 10px 12px;
  vertical-align: middle;
  border: none;
}
.panel .panel-body .table tbody tr:nth-child(even){ background-color: rgba(122,122,122,0.2); }
.panel .panel-body .table tbody .action-list{
  padding: 0;
  margin: 0;
  list-style: none;
}
.panel .panel-body .table tbody .action-list li{
  display: inline-block;
  margin: 0 5px;
}
.panel .panel-body .table tbody .action-list li a{
  color: var(--bs-black);
  font-size: 15px;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0s;
}
.panel .panel-body .table tbody .action-list li a:hover{ text-shadow: 3px 3px 0 rgba(122,122,122,0.3); }
.panel .panel-body .table tbody .action-list li a:before,
.panel .panel-body .table tbody .action-list li a:after{
  content: attr(data-tip);
  color: #fff;
  background-color: #111;
  font-size: 12px;
  padding: 5px 7px;
  border-radius: 4px;
  text-transform: capitalize;
  display: none;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -32px;
  transition: all 0.3s ease 0s;
}
.panel .panel-body .table tbody .action-list li a:after{
  content: '';
  height: 15px;
  width: 15px;
  padding: 0;
  border-radius: 0;
  transform: translateX(-50%) rotate(45deg);
  top: -18px;
  z-index: -1;
}
.panel .panel-body .table tbody .action-list li a:hover:before,
.panel .panel-body .table tbody .action-list li a:hover:after{
  display: block;
}
.panel .panel-footer{
  color: var(--bs-black);
  background-color: transparent;
  padding: 0 15px 15px;
  border: none;
}
.panel .panel-footer .col{ line-height: 35px; }
.pagination{ margin: 0; }
.pagination li button{
  display: table;
  color: var(--bs-black) !important;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 500 !important;
  text-align: center;
  line-height: 31px;
  width: 35px !important;
  height: 35px !important;
  padding: 0;
  margin: 0 3px;
  border-radius: 50px !important;
  transition: all 0.3s ease 0s;
}
.pagination li button:hover{
  color: var(--bs-black);
  background-color: transparent;
  border-color: rgba(122,122,122,0.6);
}
.pagination li button:focus,
.pagination li.active button,
.pagination li.active button:hover{
  color: var(--bs-black);
  background-color: transparent !important;
  border-color: var(--bs-black) !important;
}
.pagination li:first-child a,
.pagination li:last-child a{
  border-radius: 50%;
}
@media only screen and (max-width:767px){
  .panel .panel-heading .title{
    text-align: center;
    margin: 0 0 10px;
  }
  .panel .panel-heading .btn_group{ text-align: center; }
}

.pull-right {
  float: right !important;
}

.text-right {
  text-align: right;
}

.bg-grey {
  background-color: rgba(122,122,122,0.2);
}

input:read-only {
  /* background-color: #ddd !important; */
}

.wid-5 {
  width: 5px;
}

.wid-10 {
  width: 10px;
}

.title-name-guru {
  font-size: 10pt;
}

.font-12-px {
  font-size: 12px !important;
}